version: '3.8'
services:
  dev-db:
    image: postgres:13
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: Test@123
      POSTGRES_DB: chat-app
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - chat-app
networks:
  chat-app:
volumes:
  pgdata:
